In [1]:
import numpy as np
import pandas as pd

In [2]:
turbine_data = pd.read_csv('wind_turbine.csv', parse_dates=['timestamps'])

In [3]:
turbine_data

,timestamps,temperature,pressure,wind_speed,rpm,energy_output
0,2024-03-01 00:00:00,79.457454,336.377369,5.731068,1808.529200,44.297436
1,2024-03-01 00:01:00,67.030874,292.551417,17.520564,1463.348236,66.000076
2,2024-03-01 00:02:00,88.708176,260.658618,18.114380,1399.900664,57.534521
3,2024-03-01 00:03:00,87.435107,288.824647,13.481118,1012.073176,56.031658
4,2024-03-01 00:04:00,73.244315,299.026177,17.783283,1339.971809,62.000560
...,...,...,...,...,...,...
4995,2024-03-04 11:15:00,61.424286,253.970453,11.458111,1507.404397,61.244175
4996,2024-03-04 11:16:00,86.568661,366.827759,10.677707,1219.938951,38.524363
4997,2024-03-04 11:17:00,77.523885,326.606429,6.503936,1740.373323,32.729425
4998,2024-03-04 11:18:00,66.258265,265.588587,5.273665,1598.500541,59.911531
4999,2024-03-04 11:19:00,79.218301,304.029791,-5.795440,1530.844754,45.630787

In [4]:
high_wind_speed = turbine_data[turbine_data['wind_speed'] > 15]

In [5]:
high_wind_speed

,timestamps,temperature,pressure,wind_speed,rpm,energy_output
1,2024-03-01 00:01:00,67.030874,292.551417,17.520564,1463.348236,66.000076
2,2024-03-01 00:02:00,88.708176,260.658618,18.114380,1399.900664,57.534521
4,2024-03-01 00:04:00,73.244315,299.026177,17.783283,1339.971809,62.000560
7,2024-03-01 00:07:00,67.193879,232.782976,16.123623,1583.209036,47.353917
20,2024-03-01 00:20:00,81.363113,236.783135,15.188398,1612.925988,40.849935
...,...,...,...,...,...,...
4981,2024-03-04 11:01:00,80.496614,335.297870,20.570267,1440.088343,30.326937
4983,2024-03-04 11:03:00,89.510569,174.150222,16.137295,1495.348824,50.859080
4988,2024-03-04 11:08:00,66.888562,342.399877,15.653374,1378.232647,59.944720
4989,2024-03-04 11:09:00,88.802141,308.804774,18.671998,1629.565602,51.574515
4994,2024-03-04 11:14:00,71.697378,321.299156,15.498500,973.951050,37.993571

In [6]:
hourly_data = turbine_data.groupby(turbine_data['timestamps'].dt.hour).mean()

In [7]:
hourly_data

            temperature    pressure  wind_speed          rpm  energy_output
timestamps
0             80.539102  295.563169    9.918046  1510.033140      50.784158
1             80.410424  295.766843    9.525018  1474.337106      50.075363
2             79.879784  302.811048    9.959073  1503.081209      50.730324
3             79.419700  299.469311   10.523196  1493.895430      49.442842
4             80.931680  302.687022    9.421931  1500.280722      50.073368
5             80.382664  303.186535    9.794236  1521.569733      49.733798
6             79.811507  298.426389    9.499019  1495.443491      49.784477
7             81.080665  301.743654   10.445885  1495.780918      49.454908
8             79.780127  296.246923   10.606362  1505.440234      49.060450
9             79.762800  301.456543   10.212295  1467.479811      50.486084
10            80.426672  296.592764    9.975536  1498.822222      49.675015
11            80.346125  299.873928    9.938254  1477.391958      48.972768
12            79.622536  301.662034   10.133451  1513.176311      48.566704
13            80.761692  299.393324    9.869463  1508.516711      49.401023
14            80.607246  298.551068    9.967781  1492.881542      49.992626
15            79.478476  298.865762    9.748519  1506.533965      49.018612
16            80.117657  300.032024    9.683928  1540.296829      50.196236
17            81.272414  300.769566   10.024820  1513.715532      49.422600
18            80.306384  298.280974   10.039068  1491.803298      49.644433
19            79.145532  307.194832   10.674706  1489.701153      49.848678
20            79.765964  303.297728    9.630695  1511.837220      51.096810
21            80.151498  292.780089    9.491187  1488.925307      49.503705
22            80.115209  299.122367   10.072545  1482.624453      50.245052
23            80.138331  290.224680    9.608101  1489.178154      49.345827