In [1]:
import pandas as pd

In [2]:
turbine_data_with_issues = pd.read_csv('wind_turbine_with_issues.csv', parse_dates=['timestamps'])

In [3]:
turbine_data_with_issues

,timestamps,temperature,pressure,wind_speed,rpm,energy_output
0,2023-01-01 00:00:00,84.967142,333.144063,-1.191156,1495.031591,46.936959
1,2023-01-01 00:01:00,78.617357,358.673693,-0.603501,1473.183809,51.985394
2,2023-01-01 00:02:00,86.476885,309.051078,6.965674,1805.070724,39.276443
3,2023-01-01 00:03:00,95.230299,235.158403,12.288433,1230.830218,36.638360
4,2023-01-01 00:04:00,77.658466,319.984398,-3.737524,1309.370190,46.950822
...,...,...,...,...,...,...
1579,2023-01-01 05:32:00,80.758046,268.867532,18.336121,1511.390970,50.873799
1580,2023-01-01 17:49:00,83.465039,233.877102,3.604846,955.508067,43.723809
1581,2023-01-01 06:59:00,80.675185,313.016092,15.686573,2050.448481,NaN
1582,2023-01-01 09:39:00,91.437540,238.037080,4.141728,1650.947630,47.791290
1583,2023-01-01 13:03:00,86.105857,290.938791,11.561891,2297.555805,48.693648

In [4]:
turbine_data = pd.read_csv('wind_turbine.csv', parse_dates=['timestamps'])

In [6]:
turbine_data

,timestamps,temperature,pressure,wind_speed,rpm,energy_output
0,2023-01-01 00:00:00,84.967142,333.144063,-1.191156,1495.031591,50.294306
1,2023-01-01 00:01:00,78.617357,358.673693,-0.603501,1473.183809,55.166444
2,2023-01-01 00:02:00,86.476885,309.051078,6.965674,1805.070724,40.186741
3,2023-01-01 00:03:00,95.230299,235.158403,12.288433,1230.830218,35.951831
4,2023-01-01 00:04:00,77.658466,319.984398,-3.737524,1309.370190,51.072080
...,...,...,...,...,...,...
1435,2023-01-01 23:55:00,82.825800,254.515829,15.029623,1239.432103,52.978762
1436,2023-01-01 23:56:00,77.513089,253.174681,4.362520,1642.605293,54.501556
1437,2023-01-01 23:57:00,96.073456,266.611022,15.639545,1417.142157,48.956416
1438,2023-01-01 23:58:00,84.909750,314.609636,10.772468,1370.333320,67.754908
1439,2023-01-01 23:59:00,87.348778,290.633549,8.317237,1713.300386,35.208040

In [7]:
combined_data = pd.merge(turbine_data, turbine_data_with_issues, on='timestamps')

In [8]:
combined_data

,timestamps,temperature_x,pressure_x,wind_speed_x,rpm_x,energy_output_x,temperature_y,pressure_y,wind_speed_y,rpm_y,energy_output_y
0,2023-01-01 00:00:00,84.967142,333.144063,-1.191156,1495.031591,50.294306,84.967142,333.144063,-1.191156,1495.031591,46.936959
1,2023-01-01 00:00:00,84.967142,333.144063,-1.191156,1495.031591,50.294306,84.967142,333.144063,-1.191156,1495.031591,46.936959
2,2023-01-01 00:01:00,78.617357,358.673693,-0.603501,1473.183809,55.166444,78.617357,358.673693,-0.603501,1473.183809,51.985394
3,2023-01-01 00:02:00,86.476885,309.051078,6.965674,1805.070724,40.186741,86.476885,309.051078,6.965674,1805.070724,39.276443
4,2023-01-01 00:03:00,95.230299,235.158403,12.288433,1230.830218,35.951831,95.230299,235.158403,12.288433,1230.830218,36.638360
...,...,...,...,...,...,...,...,...,...,...,...
1579,2023-01-01 23:56:00,77.513089,253.174681,4.362520,1642.605293,54.501556,77.513089,253.174681,4.362520,1642.605293,NaN
1580,2023-01-01 23:57:00,96.073456,266.611022,15.639545,1417.142157,48.956416,96.073456,266.611022,15.639545,1417.142157,50.648279
1581,2023-01-01 23:57:00,96.073456,266.611022,15.639545,1417.142157,48.956416,96.073456,266.611022,15.639545,1417.142157,50.648279
1582,2023-01-01 23:58:00,84.909750,314.609636,10.772468,1370.333320,67.754908,84.909750,314.609636,10.772468,1370.333320,67.986649
1583,2023-01-01 23:59:00,87.348778,290.633549,8.317237,1713.300386,35.208040,87.348778,290.633549,8.317237,1713.300386,34.703211